@model AdministratorPage.Models.Resource

@{
    ViewBag.Title = "资源管理";
    Layout = "~/Views/shared/_LayoutMain.cshtml";
}

@*<h2>编辑资源</h2>*@


@using (Html.BeginForm("Edit", "Resources", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>编辑资源</h4>
    <hr />
    @Html.HiddenFor(model => model.id)

    <div class="form-row w-100">
        @Html.Label("资源名", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control col-md-10" } })
    </div>
    <div class="form-row w-100">
        @Html.Label("资源地址", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control col-md-10" } })
        <input type="file" name="file" id="file" onchange="change();" /><br />
        <script>
            function change() {
                var files = document.getElementById("file").files;
                //alert(files[0].name);
                document.getElementById("address").value = files[0].name;
            }
        </script>
    </div>
    <div class="form-row w-100">
        @Html.Label("资源分类", htmlAttributes: new { @class = "control-label col-2" })
        @Html.DropDownListFor(model => model.typeid, ViewBag.TypeList as SelectList, new { @class = "form-control col-10" })
    </div>
    <div class="form-row w-100">
        @Html.Label("资源描述", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextAreaFor(model => model.description, new { @class = "form-control col-md-10", @rows = "5", @maxlength = "1000" })
    </div>

        <div class="form-row w-100 justify-content-center">
            <input type="submit" value="保存" class="btn btn-default" />
        </div>
</div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>