@model AdministratorPage.Models.User

@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/shared/_LayoutMain.cshtml";
}

@*<h2>编辑用户信息</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>编辑用户信息</h4>
    <hr />
    @Html.HiddenFor(model => model.id)

    <div class="form-row w-100 justify-content-center">
        @Html.Label("姓名", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control col-md-10", required = "required" } })
    </div>

    <div class="form-row w-100 justify-content-center">
        @Html.Label("手机号", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control col-md-10",maxLength="11",required = "required" } })
    </div>

    <div class="form-row w-100 justify-content-center">
        @Html.Label("密码", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control col-md-10", required = "required" } })
    </div>

    <div class="form-row w-100 justify-content-center">
        <input type="submit" value="保存" class="btn btn-default" />
    </div>
</div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
