@model AdministratorPage.Models.AdvanceKnowledge

@{
    ViewBag.Title = "进阶知识管理";
    Layout = "~/Views/shared/_LayoutMain.cshtml";
}

<h4>添加进阶知识</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>AdvanceKnowledge</h4>*@
        <hr />
        <div class="form-row w-100">
            @Html.Label("关键词", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.key, new { htmlAttributes = new { @class = "form-control col-md-10" } })
        </div>

        <div class="form-row w-100">
            @Html.Label("描述", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.description, new { @class = "form-control col-md-10", @rows = "3", @maxlength = "1000" })
        </div>

        <div class="form-row w-100">
            @Html.Label("内容", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.context, new { @class = "form-control col-md-10", @rows = "5", @maxlength = "1000" })
        </div>

        <div class="form-row w-100 justify-content-center">
            <input type="submit" value="添加" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
